* {
  margin: 0;
  padding: 0;
}

header {
  background-color: pink;
  color: white;
}

header h1 {
  text-align: center;
  font-size: 50px;
  margin-top: 10px;
}

nav ul {
  list-style: nome;
  text-align: center;
}

nav ul li {
  display: inline;
  margin: 0 15px;
}

